<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="contact">
      <h2>추가할 Todo</h2>
      <form class="contact__form" action="/contacts" method="post">
        <div class="contact__form__item">
          <p><label for="todo">Todo</label></p>
          <p><input type="text" id="todo" name="todo" value="" /></p>
        </div>
        <div class="contact__form__item">
          <p><label for="description">내용</label></p>
          <p>
            <input
              class="contact__form__description"
              type="text"
              id="description"
              name="description"
              value=""
            />
          </p>
        </div>

        <div class="show__opt">
          <button class="submit" type="submit">추가</button>
        </div>
      </form>
    </div>
  </body>
</html>
